@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200&family=Rajdhani:wght@300&family=Zen+Kurenaido&display=swap');

a {
    text-decoration: none;
    color: black;
}

.version::after {
    content: "New version";
    color: red;
    font-family: serif;
    font-size: 85%;
    padding-left: 10px;
}

.submit {
    border: dashed dodgerblue 2px;
    color: green;
    font-family: 'Cairo Play', cursive;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-weight: normal;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

.container {
    word-wrap: break-word;
}

.ipts {
    text-align: center;
}
.ipts > span, input {
    font-family: 'Cairo Play', cursive;
}

footer {
    font-family: 'Zen Kurenaido', sans-serif;
    margin-top: 25px;
}

.m_txt {
    text-align: center;
}
.m_txt > a {
    border-bottom: solid dodgerblue 2px;
    cursor: pointer;
}

small {
    color: gray;
}


/* パソコン用レイアウト */
@media screen and (min-width: 790px) {
    .container {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
    }
    
    .logo {
        font-size: 100px;
    }
    
    .ipts {
        font-size: 33px;
    }.ipts > input {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .submit {
        font-size: 33px;
    }
    
    .m_txt {
        font-size: 45px;
    }
    
    
    small {
        font-size: 20px;
    }    
}

/* 最大幅が790 */
@media screen and (max-width: 790px) {
        .container {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
    }
    
    .logo {
        font-size: 65px;
    }
    
    .ipts {
        font-size: 43px;
    }.ipts > input {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .submit {
        font-size: 33px;
    }
    
    .m_txt {
        font-size: 50px;
    }
    
    
    small {
        font-size: 25px;
    }    
}

/* スマホ用レイアウト */
@media screen and (max-width: 490px) {
    .version {
        font-size: 10px;
    }

    .container {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        word-wrap: break-word;
    }

    .logo {
        font-size: 35px;
    }

    .ipts {
        font-size: 33px;
        text-align: center;
    }.ipts > input {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 85%;
        font-size: 23px;
    }

    .submit {
        font-size: 25px;
    }
    
    .m_txt {
        font-size: 30px;
    }

    small {
        font-size: 15px;
    }
}